
html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

.webgl-error {
  position: fixed;
  top: 60%;
  left: 10%;
  font-size: 4em;
  letter-spacing: 3px;
  display: none;
  color: white;
  z-index: 1000;
}

a {
  color: rgba(0, 125, 255, 0.87);
  text-decoration: none;
}
  a:hover, a:focus {
    text-decoration: underline;
    font-style: italic;
  }

.hidden {
  display: none;
}

.splash-overlay {
  position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 999;
  box-sizing: border-box; padding: 80px;
  background-color: white; color: rgba(0, 0, 0, 0.87);
  font-family: 'Helvetica', sans-serif;
}
  .splash-overlay .title {
    font-family: 'Times New Roman', serif;
    font-size: 64px; letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .splash-overlay .description-text {
    font-size: 21px; max-width: 500px; line-height: 28px;
  }
  #splash-status {
    font-size: 26px; margin-bottom: 20px;

    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  .splash-warning {
    display: none;
    font-size: 21px; margin-bottom: 20px;
  }
  #splash-controls {
    display: none;
    font-size: 20px; line-height: 30px; margin-bottom: 20px;
    max-width: 420px;
  }
  #splash-disclaimer {
    margin-left: 0px;
    margin-top: 15px; margin-bottom: 20px;
  }
  .click-to-start-container {
    display: none;
  }
    .click-to-start-button {
      cursor: pointer;
      -webkit-transition: all 250ms;
      transition: all 250ms;
    }
      .click-to-start-button:hover,.click-to-start-button:focus {
        font-style: italic;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
      }
    #click-to-start {
      margin: 30px 0px 40px 0px;
      font-size: 40px;
    }
    #click-to-start-simple {
      font-size: 16px;
    }
  .subsidiaries {
    position: absolute; bottom: 20px; right: 20px;
    text-align: right;
  }

.key-hint {
  display: none;
  position: absolute; bottom: 20px; right: 20px; padding: 20px; z-index: 1000000000;
  background-color: white; color: rgba(0, 0, 0, 0.8);
  font-family: 'Helvetica', sans-serif; font-size: 24px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.detail-tweet-text {
  opacity: 0.0;
  position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
  padding: 10px; max-width: 300px;
  color: rgba(0, 0, 0, 0.87); background-color: #fefefe;
  font-size: 28px; font-family: 'Times New Roman', serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  word-wrap: break-word;
}

.tweet-ticker {
  position: fixed; left: 0; bottom: 0; max-width: 50%;
  padding: 5px;
}
  .ticker-tweet-text {
    margin-top: 5px;
    font-family: 'Helvetica', sans-serif; font-size: 18px;
    color: rgba(255, 255, 255, 0.87);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.23);
  }
    #god-adjective {
      font-style: italic;
      text-shadow: 1px 1px 8px rgba(43, 255, 0, 0.4);
    }
    #god-verb {
      font-style: italic;
      text-shadow: 1px 1px 8px rgba(0, 148, 255, 0.4);
    }

  .tweet-ticker.nomesh {
    left: 25%; bottom: 60%; max-width: 50%;
  }
    .ticker-tweet-text.nomesh {
      font-size: 30px;
    }
    .ticker-tweet-text.light-background {
      color: rgba(0, 0, 0, 0.87);
    }

.stat-hud {
  position: fixed; right: 5px; bottom: 5px; max-width: 50%;
  font-family: monospace; font-size: 17px;
  color: rgba(255, 255, 255, 0.87);
  text-align: right;
}
  .stat-hud p {
    margin: 0; padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.23);
  }
  .stat-point {
    font-weight: bold;
  }
  #good-tweet-count, #total-sentiment {
    color: rgb(46, 238, 135);
  }
  #bad-tweet-count {
    color: rgb(238, 46, 75);
  }

  .stat-hud.nomesh {
    font-size: 25px;
    max-width: 100%;
  }
  .stat-hud.light-background {
    color: rgba(0, 0, 0, 0.87);
  }

.control-hud {
  position: fixed; top: 0; right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
  .control-hud-element {
    display: inline-block;
    margin: 5px;
    font-family: monospace; font-size: 17px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
    .control-hud-section-divider {
      height: 15px; width: 1px; margin: 5px 5px -5px 5px;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .control-hud-toggle {
      cursor: pointer;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.6);
    }
      .control-hud-toggle.active {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.95);
      }
    .control-hud-options {
      cursor: pointer;
      text-decoration: underline;
      color: rgba(0, 0, 0, 0.95);
    }
